---
layout: default
nav:
  - href: '#about'
    title: About
  - href: '#education'
    title: Education
  - href: '#experience'
    title: Projects and Experience
  - href: '#skills'
    title: Skills
  - href: '#interests'
    title: Interests
  - href: '#awards'
    title: Achievements
---

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">{{site.data.me.name}}</h1>

    <div class="subheading mb-5">
      {{site.data.me.address1}} · {{site.data.me.address2}} ·
      <a href="mailto:{{site.data.me.email | encode_email}}" style="unicode-bidi:bidi-override; direction: rtl;">
        {{site.data.me.email | split:"" | reverse | join:"" | replace: '@', '&#64;' | replace: '.', '&#46;'}}
      </a>
    </div>

    <p class="mb-5">{{site.data.me.about}}</p>

    <ul class="list-inline list-social-icons mb-5">
      {% for link in site.data.me.handles %}
      <li class="list-inline-item">
        <a href="{{link[1]}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{link[0]}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="mb-0">Find my public PGP key <a href="http://keyserver.ubuntu.com:11371/pks/lookup?fingerprint=on&op=index&search=0x{{site.data.me.publickey}}">here</a>.</div>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    {% for edu in site.data.me.education %}
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{edu.institute}}</h3>
        <div class="subheading mb-3"><span class="small">{{edu.address}}</span></div>
        <div>{{edu.course}}</div>
        <p>{{edu.score}}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{edu.period}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Projects and Experience</h2>

    {% for project in site.data.me.projects %}
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{project.title}}</h3>
        <div class="subheading mb-3">{{project.subtitle}}</div>
        <p>{{project.description}}</p>
        {% if project.links %}
        <div>
          <h6>Links: </h6>
          {% for link in project.links %}
          <a href="{{link}}">{{link}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{project.period}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages</div>
    <ul class="list-inline">
      {% for item in site.data.me.skills.programlang %}
      <li class="list-inline-item">
        <span>&middot;&nbsp;</span>{{item}}
      </li>
      {% endfor %}
    </ul>

    <div class="subheading mb-3">Operating System</div>
    <ul class="list-inline">
      {% for item in site.data.me.skills.operatingsystem %}
      <li class="list-inline-item">
        <span>&middot;&nbsp;</span>{{item}}
      </li>
      {% endfor %}
    </ul>

    <div class="subheading mb-3">Web Development</div>
    <ul class="list-inline">
      {% for item in site.data.me.skills.webdev %}
      <li class="list-inline-item">
        <span>&middot;&nbsp;</span>{{item}}
      </li>
      {% endfor %}
    </ul>

    <div class="subheading mb-3">Software Tools</div>
    <ul class="list-inline">
      {% for item in site.data.me.skills.tools %}
      <li class="list-inline-item">
        <span>&middot;&nbsp;</span>{{item}}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Interests</h2>

    <p>{{site.data.me.interests}}</p>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Achievements</h2>

    <ul class="fa-ul mb-0">
      {% for achievement in site.data.me.achievements %}
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        {{achievement}}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>